@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: MyriadSetPro;
  /* Гарнитура шрифта */
  src: url(../font/myriad-set-pro_text.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: AGFriquerc;
  /* Гарнитура шрифта */
  src: url(../font/agfriquerc.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: RosaMarena;
  /* Гарнитура шрифта */
  src: url(../font/RosaMarena.ttf);
  /* Путь к файлу со шрифтом */
}

.header {
  background-color: #181818;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #ffed00;
  margin-right: 24px;
  position: relative;
}

.menu::after, .menu::before {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #ffed00;
  position: absolute;
}

.menu::after, .menu::before {
  top: -7px;
}

.menu::before {
  top: 7px;
}

.header__elements {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.header__elements:last-of-type {
  margin-right: 20px;
}

.header__elements::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  opacity: 20%;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__elements:hover::after {
  background-color: #ffed00;
  -webkit-box-shadow: 0px 0px 10px 10px #ffed00;
          box-shadow: 0px 0px 10px 10px #ffed00;
}

.element-1 {
  background-image: url(../images/header_icon/header_1.png);
}

.element-2 {
  background-image: url(../images/header_icon/header_2.png);
}

.element-3 {
  background-image: url(../images/header_icon/header_3.png);
}

.element-4 {
  background-image: url(../images/header_icon/header_4.png);
}

.element-5 {
  background-image: url(../images/header_icon/header_5.png);
}

.line::before {
  content: "";
  width: 166px;
  height: 3px;
  position: absolute;
  background-color: #181818;
  top: 60px;
  left: -68px;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 2;
}

.counter {
  position: absolute;
  top: -5px;
  right: -18px;
  font-size: 10   px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffd800;
}

.header__elements-name {
  display: none;
}

.header__elements-name-on {
  display: block;
  position: absolute;
  top: 70px;
  left: -55px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #080909;
  z-index: 2;
}

.active {
  display: none;
  position: relative;
  background-color: #ffed00;
}

.active__line {
  width: 165px;
  height: 3px;
  background-color: #181818;
}

.actinve__inner {
  height: 266px;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active__element {
  max-width: 165px;
}

.active__element img {
  display: block;
  margin: 0 auto;
}

.active__element p {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #080909;
}

.active__element .element__name {
  height: 32px;
  overflow: hidden;
  margin-top: 23px;
}

.active__element .element__count {
  margin-top: 10px;
}

.slider__inner {
  position: relative;
}

.slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider__item-1 {
  background-image: url(../images/slider.png);
}

.slider__item-2 {
  background-image: url(../images/slider_2.png);
}

.slider__item-3 {
  background-image: url(../images/slider.png);
}

.slider__item-4 {
  background-image: url(../images/slider_2.png);
}

.slider__item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: bold;
  margin-top: 105px;
}

.slider__item-left {
  width: 50%;
  padding-right: 15px;
  font-family: "Montserrat";
}

.slider__item-info {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.slider__item-info-img {
  display: block;
}

.slider__item-info-subtext {
  font-family: AGFriquerc;
  padding-top: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

.slider__item-disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 41px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #181818;
  padding-top: 144px;
}

.slider__item-disc-text {
  background-color: #ffed00;
  padding: 2px 27px 3px 24px;
  margin-right: 30px;
}

.slider__item-disc-subtext {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.4em;
  color: #ffffff;
}

.slider__item-right {
  width: 50%;
  padding-left: 10px;
}

.slider__item-title {
  font-size: 85px;
  text-transform: uppercase;
  text-align: left;
}

.slider__item-subtitle {
  max-width: 360px;
  margin-top: 22px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.2;
}

.slider__item-sale {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 37px;
  background-color: rgba(2, 8, 15, 0);
  border: 1px solid #ffffff;
  font-family: "MyriadSetPro";
  margin-bottom: 75px;
}

.slider__item-sale-now {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  font-size: 41px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffd800;
  position: relative;
}

.slider__item-sale-now::after {
  content: "ТГ";
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  top: 12px;
  right: 4px;
}

.slider__item-sale-last {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 21px;
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  text-decoration: line-through;
}

.slider__item-sale-last::after {
  content: "ТГ";
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 10px;
  right: 70px;
}

.slider__item-sale-buy {
  -ms-flex-preferred-size: 33.5%;
      flex-basis: 33.5%;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #181818;
  background-color: #ffffff;
}

.slider__prev-arrow, .slider__next-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  background-color: #fff;
}

.slider__prev-arrow {
  left: 50px;
}

.slider__next-arrow {
  right: 50px;
}

.new {
  background-color: #ededed;
  font-family: MyriadSetPro;
}

.new__block {
  position: relative;
}

.new__title {
  text-align: center;
  display: inline-block;
  margin: 50px 0;
  padding: 0px 32px 0;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #080909;
  background-color: #ededed;
  position: relative;
  z-index: 3;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.new__line {
  width: 100%;
  height: 2px;
  background-color: #080909;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
}

.new-slider__item {
  width: 555px;
  height: 265px;
  margin: 15px;
}

.new-slider__inner {
  position: relative;
}

.new-slider__prev-arrow, .new-slider__next-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  background-color: #fff;
}

.new-slider__prev-arrow {
  left: -50px;
}

.new-slider__next-arrow {
  right: -50px;
}

.new-card {
  background-color: #181818;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-card__img {
  margin-top: -40px;
  width: 50%;
}

.new-card__img img {
  width: 242px;
  height: 342px;
  -o-object-fit: contain;
     object-fit: contain;
}

.new-card__block {
  width: 50%;
  padding: 16px 20px 20px 20px;
}

.new-card__icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.new-card__flag {
  background-image: url(../images/new/new__flag_1.png);
  width: 33px;
  height: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.new-card__icon {
  background-image: url(../images/header_icon/header_4.png);
  width: 18px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.new-card__subtitle {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #6a6d6d;
  margin-top: 20px;
}

.new-card__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
  min-height: 48px;
  overflow: hidden;
}

.new-card__price {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: 31px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffd800;
  margin-top: 20px;
  position: relative;
}

.new-card__price::after {
  content: "ТГ";
  position: absolute;
  font-weight: 500;
  color: #6a6d6d;
  font-size: 15px;
  top: 5px;
  right: -20px;
}

.new-card__counter-block {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-card__counter {
  width: 50%;
  border: 1px solid #ffd800;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  padding: 8px 0;
  text-align: center;
  position: relative;
}

.new-card__counter::after, .new-card__counter::before {
  content: "";
  position: absolute;
  color: #ffd800;
  font-size: 24px;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

.new-card__counter::after {
  content: "+";
  right: 15px;
}

.new-card__counter::before {
  content: '-';
  left: 14px;
}

.new-card__basket {
  width: 50%;
  background-color: #ffd800;
  position: relative;
}

.new-card__basket::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../images/header_icon/header_5.png);
  top: 50%;
  left: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.new__end {
  margin-top: 38px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new__end-text {
  padding: 20px 90px 20px 50px;
  border: 1px solid #181818;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #181818;
  position: relative;
}

.new__end-text::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-image: url(../images/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(50% - 4px);
  right: 48px;
}

.block__baner {
  background-image: url(../images/bg-baner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.baner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.baner__data, .baner__time {
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.4em;
  color: #ffffff;
}

.baner__title {
  margin: 0 auto;
}

.top {
  background-color: #ffd800;
  font-family: MyriadSetPro;
}

.top__block {
  position: relative;
}

.top__title {
  text-align: center;
  display: inline-block;
  margin: 50px 0;
  padding: 0px 32px 0;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #080909;
  background-color: #ffd800;
  position: relative;
  z-index: 3;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.top__line {
  width: 100%;
  height: 2px;
  background-color: #080909;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
}

.top-slider__item {
  width: 260px;
  height: 500px;
  margin: 15px;
}

.top-slider__inner {
  position: relative;
  margin-top: 55px;
}

.top-slider__prev-arrow, .top-slider__next-arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  background-color: #fff;
}

.top-slider__prev-arrow {
  left: -50px;
}

.top-slider__next-arrow {
  right: -50px;
}

.top-card {
  background-color: #ededed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.top-card__icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-card__flag {
  background-image: url(../images/new/new__flag_1.png);
  width: 30px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.top-card__img {
  width: 155px;
  height: 240px;
}

.top-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.top-card__icon {
  background-image: url(../images/top/top_card__like.png);
  width: 16px;
  height: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.top-card__subtitle {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #6a6d6d;
  margin-top: 20px;
}

.top-card__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #181818;
  margin-top: 10px;
  min-height: 48px;
  overflow: hidden;
}

.top-card__price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.top-card__price {
  font-size: 31px;
  line-height: 1.2;
  font-weight: 700;
  color: #181818;
  position: relative;
  padding-right: 17px;
}

.top-card__price::after {
  content: "ТГ";
  position: absolute;
  font-weight: 500;
  color: #6a6d6d;
  font-size: 15px;
  top: 5px;
  right: 0;
}

.top-card__price-last {
  padding-right: 17px;
  line-height: 1.2;
  font-weight: 500;
  font-size: 21px;
  color: #6a6d6d;
  position: relative;
  text-decoration: line-through;
  margin-right: 20px;
}

.top-card__price-last::after {
  content: "ТГ";
  position: absolute;
  font-weight: 400;
  color: #6a6d6d;
  font-size: 10px;
  top: 5px;
  right: 0;
}

.top-card__counter-block {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-card__counter {
  width: 50%;
  border: 1px solid #181818;
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  color: #181818;
  padding: 8px 0;
  text-align: center;
  position: relative;
}

.top-card__counter::after, .top-card__counter::before {
  content: "";
  position: absolute;
  color: #181818;
  font-size: 24px;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

.top-card__counter::after {
  content: "+";
  right: 15px;
}

.top-card__counter::before {
  content: '-';
  left: 14px;
}

.top-card__basket {
  width: 50%;
  background-color: #181818;
  position: relative;
}

.top-card__basket::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../images/header_icon/header_5.png);
  top: 50%;
  left: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top__end {
  margin-top: 38px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__end-text {
  padding: 20px 90px 20px 50px;
  border: 1px solid #181818;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #181818;
  position: relative;
}

.top__end-text::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: url(../images/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(50% - 4px);
  right: 48px;
}

.block__subscribe {
  background-image: url(../images/bg-baner.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__inner {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__text {
  width: 50%;
  margin-left: 30px;
  font-family: Montserrat;
  font-size: 85px;
  line-height: 82px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__block {
  background-color: #ffffff;
  line-height: 1.2;
  font-family: MyriadSetPro;
  text-align: center;
  text-align: center;
  width: 50%;
  padding: 45px 105px;
}

.subscribe__title {
  font-size: 21px;
  font-weight: 700;
  color: #181818;
}

.subscribe__subtitle {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.subscribe__input {
  margin-top: 35px;
  background-color: #ffffff;
  border: 1px solid #181818;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  color: #181818;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.subscribe__input::-webkit-input-placeholder {
  color: #6a6d6d;
}

.subscribe__input:-ms-input-placeholder {
  color: #6a6d6d;
}

.subscribe__input::-ms-input-placeholder {
  color: #6a6d6d;
}

.subscribe__input::placeholder {
  color: #6a6d6d;
}

.subscribe__btn {
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #181818;
  padding: 18px 0;
  background-color: #ffed00;
}

.subscribe__btn span {
  position: relative;
}

.subscribe__btn span::after {
  content: "";
  width: 8px;
  height: 8px;
  background-image: url(../images/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: calc( 50% - 4px);
  right: -37px;
}

.footer {
  padding-top: 55px;
  padding-bottom: 145px;
  background-color: #ffed00;
  font-family: MyriadSetPro;
  background-image: url(../images/bg-footer.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.footer__column-title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #181818;
}

.footer__column-link {
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #181818;
  padding-left: 20px;
  position: relative;
}

.footer__column-link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-image: url(../images/arrow.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(50% - 4px);
  left: 0px;
}

.footer__column-last {
  margin-top: 24px;
}

.footer__column-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.app__title {
  margin: 50px 0 10px;
}

.arrow-none {
  padding: 0;
}

.arrow-none::after {
  display: none;
}

.phone {
  margin-top: 30px;
  font-size: 31px;
  font-weight: 700;
}

.footer__social {
  margin: 130px 150px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: MyriadSetPro;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #181818;
}

.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__facebook, .social__instagram {
  margin-left: 90px;
  width: 19px;
  height: 19px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social__facebook {
  background-image: url(../images/facebook.png);
}

.social__instagram {
  background-image: url(../images/instagram.png);
}
